{{> head}}

{{> navbar}}
    <h1>Caroline Marques</h1>
        <br>
        <p><b>Email:</b> caroline.karolll@hotmail.com</p>
        <hr>
        <div>
                <div>
                    <p><b>Areas de interesse:</b></p>
                    <li>Desenvolvimento web</li>
                    <li>Arquitetura de Software</li>
                    <br>
                    <p><b>Conhecimento:</b></p>
                    <li>Javascript, Typescript, Nodejs, AWS, Docker, Kubernetes</li>
                    <br>
                    <p><b>Certificados :</b></p>
                    <li>AWS Cloud Practitioner Essentials</li>
                    <li>Hackerrank Problem Solving</li>
                    <br>
                </div>
        
{{> footer}}