{{> head}}

{{> navbar}}
<div class="container mt-5">
    <h3 class="text-center mb-3">Matérias</h3>
    <p>Programação Web 2</p>
    <p>Inteligência Artificial </p>
    <p>Sistemas Distribuídos</p>
    <p>Manutenção de Software</p>
    <p>TCC 1 </p>
</div>
{{> footer}}