{{> head}}

{{> navbar}}

<div class="container">
    <div class="row mt-5">
        <div class="col-7">
        </div>
        <div class="col-5">
            <h4><strong>{{name}}</strong></h4>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro dignissimos voluptates hic doloribus
                numquam doloremque, quae illo non ipsam voluptate nulla asperiores, aut sit minus? Quasi voluptatum
                quibusdam vitae laborum.
            </p>
        </div>
    </div>
</div>

{{> footer}}